<h2><%= @application.name %>'s Application'</h2><br/>

<ul>
  <li>Street Address - <%= @application.address %></li><br/>
  <li>City - <%= @application.city %></li><br/>
  <li>State - <%= @application.state %></li><br/>
  <li>Zip - <%= @application.zip %></li><br/>
  <li>Description - <%= @application.description %></li><br/>
  <li>Status - <%= @application.status %></li><br/>
</ul>

<h3>Add a Pet to this Application</h3>
<section>
  <% if @application.status == "In Progress" %>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit 'Submit' %>
    <% end %>
  <% end %>
</section><br/>

<% if params[:search] %>
  <% @pet_search.each do |pet| %>
  <section>
    <li>Name - <%= pet.name %> <%= button_to "Adopt this Pet", application_path(@application), method: :get, params: {adopt: pet} %></li><br/>
    <li>Age - <%= pet.age %></li><br/>
    <li>Breed - <%= pet.breed %></li><br/>
    <li>Adoptable? - <%= pet.adoptable %></li><br/>
  </section>
  <% end %>
<% end %><br/><br/>

<% if params[:adopt] %>
  <% @adopted_pets.each do |pet| %>
  <section>
    <li>Name - <%= pet.name %></li><br/>
    <li>Age - <%= pet.age %></li><br/>
    <li>Breed - <%= pet.breed %></li><br/>
    <li>Adoptable? - <%= pet.adoptable %></li><br/>
    <p>------------------------------------</p>
  </section>
  <% end %>
<% end %>
