<h2><%= @application.name %>'s Application'</h2><br/><br/>

<ul>
  <li>Street Address - <%= @application.address %></li><br/>
  <li>City - <%= @application.city %></li><br/>
  <li>State - <%= @application.state %></li><br/>
  <li>Zip - <%= @application.zip %></li><br/>
  <li>Description - <%= @application.description %></li><br/>
  <li>Status - <%= @application.status %></li><br/>
</ul>

<%=  %>
<%  %>
